.projects_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .project_card {
        width: 23%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        border: 0.4px solid #C6C6C6;
        .photo {
            height: 250px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .more_info, h2 {
            margin-right: 24px;
            margin-left: 24px;
        }

        h2 {
            margin-top: 20px;
        }

        .more_info {
            margin-top: auto;
            margin-bottom: 20px;
        }

    }
}

.cerecters {
    display: flex;
    flex-direction: column;
    .cer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .dots{
            flex: 1;
            margin: auto 10px 0 10px;
            border-bottom: 1px dotted darkgray;
        }

        .name {
            margin: auto 0 0 0;
        }

        .value {
            max-width: 40%;
            text-align: right;
            font-weight: 500;
        }
    }
}


@media (max-width: 768px) {
    .tovarinfo.project_card .tovarinfo__side {
        width: 100%;
        margin-bottom: 20px;
    }
}
