//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext

//</Подключаем шрифты>=======================================================================================

//</ШРИФТЫ>=======================================================================================================

//</ОСНОВНЫЕ НАСТРОЙКИ>===========================================================================================================
body {
	color: #000;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 400;
	min-width: 320px;
	// max-width: 1920px;

	a {
		font-family: "Montserrat";
		color: #1a1818;
	}

	&._lock {
		overflow: hidden;
		touch-action: none;
	}
}

//===============================================================================================

//<ЗАГОЛОВКИ>=================================================================================================================
h1 {
	font-size: 42px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0.015em;
}

h2 {
	font-size: 42px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0.015em;
}

h3 {
	font-size: 28px;
	font-weight: 500;
	line-height: 38px;
}

h4 {
	font-size: 25px;
	font-weight: 500;
	line-height: 38px;
}

.title {
	text-align: center;
	// color: #222222;
	margin-bottom: 38px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 24px;
	}
}

//<ЗАГОЛОВКИ>=================================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	// min-height: 200vh;
	// position: relative;
	&._loaded {}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	// padding: 35px 0;
	// padding-top: 80px;
}

.section {
	padding: 60px 0;
}

//===================================================================================================================================

.main-banner {
	position: relative;
	padding: 148px 0 187px 0;
	min-height: 525px;
	background-repeat: no-repeat;
	background-position: 0 60%;
	background-size: cover;
	background-image: url('../img/main-banner.jpg');

	._container {
		display: flex;
		justify-content: flex-end;
	}
}

.main-banner__title {
	// font-family: "Montserrat";
	max-width: 494px;
	width: 100%;
	font-size: 52px;
	font-weight: 800;
	line-height: 63px;
	letter-spacing: 0.015em;
	text-align: right;
	color: #fff;
	position: relative;
	z-index: 5;
}


//========================================================================================================================================================

.page__popular {
	padding: 71px 0 32px 0;
}

.popular {}

.section {}

._container {}

.popular__title {
	margin-bottom: 37px;
}

.title {}

.popular__inner {
	flex-wrap: wrap;
	margin: 0 -12.5px;
}

.d-flex {}

.popular__column {
	display: flex;
	flex: 0 1 25%;
	padding: 0 12.5px 24px 12.5px;
}

.popular__card {}

.card-popular {
	flex: 0 1 100%;
	display: flex;
	flex-direction: column;
	padding: 24px 24px 33px 24px;
	border: 0.4px solid #C6C6C6;
	overflow: hidden;

	.card_control_wrap {
		display: flex;
		justify-content: space-between;

		.card-popular__btn {
			margin-top: auto;
			margin-bottom: auto;
		}
	}
}

.card-popular__img {
	padding-bottom: 76%;
	flex: 0 1 30%;
	overflow: hidden;
	max-width: 228px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 23px;
}

._ibg {}

.card-popular__descp {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	padding-top: 23px;
	padding-bottom: 19px;
	border-top: 0.4px solid #C6C6C6;
}

.card-popular__descp-title {
	font-size: 26px;
	font-weight: 700;
	line-height: 31px;
	letter-spacing: 0.015em;
	margin-bottom: 23px;
}

.card-popular__descp-subtitle {
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
	letter-spacing: 0.015em;
	margin-bottom: 33px;
	flex: 1 1 auto;
}

.card-popular__descp-price {
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: 0.015em;
}

.card-popular__btn {
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
	letter-spacing: 0.015em;
	color: #A48A7B;
	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			color: #CA9E67;
		}
	}
}

.popular__btn-block {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.popular__btn-all {}

//========================================================================================================================================================

.page__categories {}

.categories {}

.section {}

._container {}

.categories__title {}

.title {}

.categories__inner {
	display: flex;
}

.d-flex {}

.categories__left-col {
	display: flex;
	flex-direction: column;
	flex: 0 1 662px;
}

.categories__box {
	margin-bottom: 12.5px;

	&:last-child {
		margin-bottom: 0;
	}
}

.box-categories {
	position: relative;
	display: flex;
	flex: 0 1 100%;
}

.box-categories__img {
	flex: 0 1 100%;
	padding-bottom: 38.6%;
}

.box-categories__text {
	position: absolute;
	bottom: 18.5px;
	left: 0;
	min-height: 80px;
	font-size: 26px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0.015em;
	color: #fff;
	padding: 12px 54px 12px 35px;
	border-radius: 0px 0px 50px 0px;
	background: rgba(61, 63, 57, 0.7);
}

.box-categories--center {
	flex: 0 1 347px;
	margin: 0 10px;
}

.categories__right-col {
	display: flex;
	flex-direction: column;
	flex: 0 1 411px;
}

//========================================================================================================================================================

.page__consult {}

.consult {
	background: url('../img/consult.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.section {}

._container {}

.consult__inner {
	max-width: 516px;
	width: 100%;
}

.consult__title {
	margin-bottom: 30px;
}

.consult__subtitle {
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
	letter-spacing: 0.015em;
}

.consult__form {
	display: flex;
	flex-direction: column;
	max-width: 331px;
	width: 100%;
	margin-top: 27px;
}

.d-flex {}

.consult__form-input {
	margin-bottom: 10px;
}

.input {}

.consult__form-btn {
	font-size: 22px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.015em;
	color: #fff;
	background-color: #CA9E67;
	border: none;
}

.btn {}

.consult__form-policy {
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0.015em;
	margin-top: 22px;
}

//========================================================================================================================================================

.page__advantages-slider {}

.advantages-slider {}

.section {}

._container {}

.advantages-slider__title {}

.title {}

.advantages-slider__inner {
	flex-wrap: wrap;
	margin: 0 -13.5px;
}

.advantages-slider__column {
	flex: 0 1 33.333%;
	display: flex;
	padding: 0 13.5px 15px 13.5px;
}

.advantages-slider__item {
	position: relative;
	display: flex;
	align-items: center;
	flex: 0 1 100%;
}

.item-advantages {}

.item-advantages__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	flex: 0 0 84px;
	width: 84px;
	height: 84px;
	border-radius: 50%;
	background-color: #fff;
	overflow: hidden;
	border: 5px solid white;

	&::before {
		content: '';
		float: left;
		width: 40px;
		flex: 0 0 40px;
		height: 40px;
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.adv_quality {
	&::before {
		content: "";
		background-image: url('../img/adv/adv_3.svg');
	}
}

.adv_estet {
	&::before {
		content: "";
		background-image: url('../img/adv/adv_1.svg');
	}
}

.adv_select {
	&::before {
		content: "";
		background-image: url('../img/adv/adv_5.svg');
	}
}

.adv_strong {
	&::before {
		content: "";
		background-image: url('../img/adv/adv_3.svg');
	}
}

.adv_uhod {
	&::before {
		content: "";
		background-image: url('../img/adv/adv_4.svg');
	}
}

.adv_servic {
	&::before {
		content: "";
		background-image: url('../img/adv/adv_5.svg');
	}
}

.icon-bg-green {
	background-color: #4E9E79;
}

.icon-bg-brick {
	background-color: #CA9E67;
}

.icon-bg-purpur {
	background-color: #A48A7B;
}


.item-advantages__descp {
	padding: 25px 23px 25px 56px;
	background-color: #F0F0F0;
	border-radius: 0 0 60px 0;
	margin-left: 50px;

	p {
		font-size: 14px;
		font-weight: 400;
		line-height: 1.3;
		letter-spacing: 0.015em;
	}
}

//========================================================================================================================================================

.page__about {}

.about {}

.about__title {
	margin-bottom: 30px;
}

.about__subtitle {
	max-width: 1236px;
	width: 100%;
	margin: 0px auto;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.015em;

	p {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

//========================================================================================================================================================
.banner-category {
	background-image: url('../img/cat_b_1.webp');

	._container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__title {
		position: relative;
		z-index: 5;
		color: #fff;
		max-width: 350px;
		text-align: right;
	}
}

.banner {
	position: relative;
	display: flex;
	align-items: center;
	padding: 60px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.nuar {

	&_blk {}
}

.categoty-top-sec {

	&__breadcrumbs {
		margin-bottom: 25px;
	}

	&__filter-block {}
}

.section {}

.breadcrumb {

	&_last {}
}

.filter-block {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	&__btn {
		border: none;
		font-size: 18px;
		background-color: #EBEBEB;
		border-radius: 0%;
		transition: all 0.3s ease 0s;
		padding: 8px 33px;

		&._active {
			color: #fff;
			background-color: #CA9E67;
		}

		&:hover {
			color: #fff;
			background-color: #CA9E67;
		}
	}
}

//========================================================================================================================================================

.category-sec {

	&__wrap {
		display: flex;
		justify-content: space-between;
		// height: 1000px;
	}

	&__sidebar {
		flex: 0 0 30%;
		border: 1px solid #000;
	}

	&__main {
		flex: 0 0 70%;
	}
}


.main-category {

	&__inner {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -12.5px;

		.popular__column {
			flex: 0 1 33.333%;
		}
	}
}

.category-sec {

	&__sidebar {}
}

.sidebar {

	&__title {
		margin-bottom: 25px;
	}

	&__filters {}
}

.filters-sidebar {

	&__block {}

	&__btn-reset {}
}

.btn {}

//========================================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
@import "breadcrumbs";
@import "text-styles";
@import "controls";
@import "cart";